<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <template id="assets_backend" inherit_id="web.assets_backend">
        <xpath expr="." position="inside">
{% for asset in asset_files %}
            <script type="text/javascript" src="{{ module_name }}/{{ asset.path }}"/>
{% endfor %}
{% for css in css_files %}
            <link rel="stylesheet" href="{{ module_name }}/{{ css.path }}"/>
{% endfor %}
        </xpath>
    </template>
</odoo>
