<?xml version="1.0" encoding="UTF-8"?>
<templates xml:space="preserve">
    <t t-name="{{ module_name }}.{{ component_class }}">
        <div class="{{ component_css_class }}">
            <!-- Component template -->
        </div>
    </t>
</templates>
